/**
 * main.scss

 todo:
    adicionar
        - cssmin
        - uglyfy para js
        - copy para dist folder
 */

// @import "";

$lightyellow:#FFF3B2;
$lightblue:#4CB2C4;
$lightblue_hover:rgb(65, 130, 141);
$lowblue: #C9F2CF;
$lightred:#FF7578;
$lightpurple: #CCCCCB;
$white: white;
$gray: #303030;

body {
    background-color: #FFFDED;
}

/* Elements */
.header {    
    background: $lightblue url(../images/abstract-polygon-texture-281.jpg) top center;
    background-size: cover;
    padding: 10px 6px;
    color:$gray;

    h1 {
        margin:0;
        padding: 0;
        background: url(../images/celd-logo-transp-500px.png) no-repeat top left;
        background-size: contain;
        display: block;
        height: 173px;
        text-indent: -9999px;
    } 

    .badge {
        text-align: left;
        padding:8px;
        width: 100%;
    }

    .notification-area span {
        font-size: 16px;
        font-weight: normal;
    }
}

.bar {
    padding: 10px 20px;
    text-align: right;
}

.main {
    padding:30px 20px 50px;

    .banners {
        padding-top: 24px;

        .banner {
            display: block;
            width: 100%;
            padding: 8px 16px;
            border-radius: 5px;
            transition:all 0.3s ease;
        }
        
        .agenda {
            background-color:#4CB2C4;
            color:white;
            padding: 16px 24px;   
            font-size: 14px;

            &::hover {
                background-color: rgb(65, 130, 141);
                color: white;
                text-decoration: none;
            }

            & span {
                font-size: 24px;
                font-weight: bold;
                display: block;
            }
        }
    }
}

.footer {
    padding:40px 18px 50px;
    background-color: #124357;
    color: white;

    & address {
        font-size: 12px;
    }

    & #ytplayer {
        min-height: 400px;
    }
}